@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Lato:ital,wght@0,300;1,400;1,700&family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display:flex;
    background-color: black;
    
}
.Box{
    display:flex;
    justify-content: space-between;
}
.Bomx{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3px;
    background-color: red;
    width: 100%;
    border-radius: 10px;
    overflow-y: hidden;

    
        
       
}
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}